<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>  <!--графики-->
    <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script> <!--для получения дат-->
    <div id="container">
        <div id="app">
            <header>
                <a href="index.html"><img src="images/logo.png" class="logo" alt="logo"></a>
                <a href="profile.html"><div id="profile"></div></a>
            </header>
            <div class="converter">
                <div class="from">
                    <div class="from-cont">
                        <select class="currency" v-on:change="calculate($event.target.name)" v-model="first">
                            <option v-bind:value="'BTC'" class="btc-img">Bitcoin (BTC)</option>
                            <option v-bind:value="'ETH'">Ethereum (ETH)</option>
                            <option v-bind:value="'USD'">United States Dollar (USD)</option>
                        </select>
                        <input maxlength="10" name="value" @keypress="onlyNumber" type="text" class="input-from" v-model="value" v-on:input="calculate ($event.target.name)">
                    </div>    
                </div>
                <div class="to">
                    <div class="from-cont">
                        <select class="currency" v-on:change="calculate($event.target.name)" v-model="second">
                            <option v-bind:value="'BTC'">Bitcoin (BTC)</option>
                            <option v-bind:value="'ETH'">Ethereum (ETH)</option>
                            <option v-bind:value="'USD'">United States Dollar (USD)</option>
                        </select>
                        <div name="total" class="input-to">{{ total }}</div>
                    </div>
                </div>
            </div>

            <!-- графики -->
            <line-chart-btc></line-chart-btc>
            <line-chart-eth></line-chart-eth>  
        </div>
    </div>

    <script src="script.js"></script>
</body>

</html>
