<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>

<div id="container">
    <div id="app">
        <header>
            <a href="index.html"><img src="images/logo.png" class="logo" alt="logo"></a>
            <div class="profile-value"> {{ mainWallet.BTC }} BTC, {{ mainWallet.ETH }} ETH, {{ mainWallet.USD }} USD</div>
            <a href="profile.html"><div id="profile"></div></a>
        </header>
        <div class="top-up">
            <div class="changes">
                <h1 class="tabs">
                    <div v-on:click="tabs('buy')">Купить</div>
                    <div v-on:click="tabs('sell')">Продать</div>
                </h1>

                <div class="tabs-cont" v-show="tabsIsActive['buy']">
                    <select  name="sum"  class="currency_prof" v-on:change="changeWallet($event.target.name)" v-model="change1">
                        <option v-bind:value="'BTC'" class="btc-img">BTC</option>
                        <option v-bind:value="'ETH'">ETH</option>
                    </select>
                    <input maxlength="7" name="sum" @keypress="onlyNumber" class="input-price" v-model="sum" v-on:input="changeWallet ($event.target.name)">
                    <button name="movie" :disabled="disabledSum" v-on:click="fianlWalletSum">Купить</button>
                    <div>Будет стоить : {{ priceSum }} USD</div>
                    <div>На счету останется: {{ resultSum }} USD</div>
                </div>


                <div class="tabs-cont" v-show="tabsIsActive['sell']">
                    <select class="currency_prof" v-on:change="changeWallet($event.target.name)" v-model="change2">
                        <option v-bind:value="'BTC'" class="btc-img">BTC</option>
                        <option v-bind:value="'ETH'">ETH</option>
                    </select>
                    <input maxlength="7" name="difference" @keypress="onlyNumber" class="input-price" v-model="difference" v-on:input="changeWallet ($event.target.name)">
                    <button name="movie" :disabled="disabledDif" v-on:click="fianlWalletDif">Продать</button>
                    <div>Будет стоить : {{ priceDif }} USD</div>
                    <div>На счету останется: {{ resultDif }} USD</div>
                </div>
            </div> <!-- changes -->
            <div>
                <h3>Курс валют</h3>
                <div>1 BTC = {{ BTC }} USD</div>
                <div>1 ETH = {{ ETH }} USD</div>
            </div>
        </div>
        <!-- график -->
        <pie-chartjs id="pie-chart"></pie-chartjs>
    </div>
</div>

<script src="script.js"></script>
</body>

</html>
